.linos {
	margin-left: 75px;
}

.linq {
	margin-left: 95px;
}

.svizatsy h1 {
	text-align: center;
}

.divs h1 {
	text-align: center;
}

.inp {
	margin-left: 50px;
}

.kartin {
	width: 100px;
}

.linw {
	margin-left: 115px;
}

.line {
	margin-left: 145px;
}